body {
  margin: 20px;
  padding: 0;
  background: #333;
}

.container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 2px;
  background: #fff;
}

.main-img img,
.imgs img {
  width: 100%;
  
}

.main-img img {
  height: 350px;

}

.imgs img {
  height: 100px;

}

.imgs {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 5px;
   
}

.imgs img:hover {
  transform: scale(1.01)
}


/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}